@font-face {
  font-family: Korean_Calligraphy;
  src: url(../korean_calligraphy/Korean_Calligraphy.ttf);
}

body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px auto;        
  background-image: url(./media/wood.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
}

#restaurant {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  transform: translateX(100px) scale(0.7);
}

#grill {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: flex-start;
  justify-self: center;
  z-index: 1;
}

#grill2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: flex-start;
  justify-self: center;
  z-index: 3;
  transform: translateY(20px);
}

#plate {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: flex-start;
  justify-self: right;
}

#lettuce {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: flex-end;
  justify-self: left;
  transform: rotateZ(270deg) translateX(-100px);
}

#plate2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: flex-start;
  justify-self: left;
}

#rice {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: flex-end;
  justify-self: center;
  transform: translateX(100px);
}

#sauces {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: flex-end;
  justify-self: center;
}

.raw {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: flex-start;
  justify-self: right;
  z-index: 4;
}

#raw1 {
  transform: translateY(100px);
  z-index: 4;
}

#raw2 {
  transform: translateX(-100px);
  z-index: 5;
}

#raw3 {
  transform: translateX(-100px) translateY(-250px);
  z-index: 6;
}

#check {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  cursor: pointer;
  transition-duration: 0.5s;
}

#check:hover {
  transform: scale(0.95);
}

#recipeBtn {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: flex-end;
  justify-self: center;
  transform: translateY(-100px);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.5s;
}

#recipeBtn:hover {
  transform: scale(1.2) translateY(-100px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.card {
  position: relative;
  background: #fff;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 30px 2px #000;
}
.card .header {
  min-height: 250px;
}
.card .header .icon a .fa-heart-o {
  position: absolute;
  left: 85%;
  bottom: 30.7%;
  background: #17bebb;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 5px 30px 1px #17bebb;
}
.card .text .food {
  color: #212129;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  margin: 5px 30px;
  font-family: Korean_Calligraphy;
}
.card .text .fa-clock-o {
  color: #9b9b9b;
  margin: 0 30px;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}
.card .text .fa-users {
  color: #9b9b9b;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}
.card .stars {
  margin: 10px 30px;
}
.card .stars li a i {
  color: #ffe500;
}
.card .info {
  margin: 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.scroll {
  max-height: 100px;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}
/* Track */
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
} 
/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.card a.btn {
  display: block;
  background: #ef3e36;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 10px;
  transition: 250ms;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.card a.btn:hover {
  background: #c4e6e5;
  transition: 250ms;
}

#flame {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: flex-start;
  justify-self: center;
  z-index: 2;
  width: 150px;
  height: 150px;
  background: linear-gradient(-45deg, red, orange);
  border-radius: 150px 150px 0px 150px;
  transform: rotate(-135deg) translateX(-90px) translateY(-90px);
  animation: 0.1s flame infinite;
  filter: blur(10px);
  box-shadow: 17px 20px 90px #700;
  border: 45px solid black;
  border-left-width: 25px;
  border-top-width: 25px;

}
#flame:after, #flame:before {
  content: '';
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background: linear-gradient(-45deg, red, orange);
  animation: 0.2s flame infinite;
  transform: scale(0.8) rotate(20deg);
  border-radius: 100px 100px 0px 100px;
  top: 20px;
}
#flame:before {
  top: 0;
  animation-duration: 0.09s;
  transform: scale(0.9) rotate(-15deg) translate(10px, 0px);
}
@keyframes flame {
  0% {
    height: 150px;
    width: 150px;
 }
  50% {
    height: 140px;
    width: 140px;
 }
  100% {
    height: 150px;
    width: 150px;
 }
}
